.main-body{
    height: 90vh;
    width: 100vw;
    background-color: rgb(8, 8, 8);
    border-radius: 30px;
    display: flex;
    
}


.player-body{
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}