.screen-container {
    width: calc(100% - 70px);
    height: 87.8%;
    margin-top: 7px;
    margin-right: 7px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(#13193c, #0f0e0e);
    border-radius: 7px;

}
.header-page{
    top: 29px;
  right: 30px;
  
}


 








/* .screen-container {
    width: calc(100% - 100px);
    height: 88.2vh;
    margin-top: 7px;
    margin-right: 7px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(#13193c, #0f0e0e);
    border-radius: 7px;
}

.screen-container.library-clicked {
    width: calc(100% - 25%);
    height: 88.2vh;
    margin-top: 7px;
    margin-right: 7px;
    border-radius: 7px;
}


.player-container{
    width: 100%;
    height: 10vh;
    background-color: rgb(18, 18, 18);
}

@media screen and (max-width: 1400px){
    .screen-container.library-clicked{
        width: calc(100% - 310px);
    }
}

@media screen and (max-width: 480px){
    .screen-container.library-clicked{
        width: calc(100% - 59%);
        margin-left: 7px;
    }
}


 */
