
.header-container{
   
    
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: red;
}

.outer-circle {
    width: 30px; /* Adjust the size of the outer circle as needed */
    height: 30px; /* Adjust the size of the outer circle as needed */
    background-color: #0b0b0b; /* Outer circle background color */
    border-radius: 57%; /* Makes it a circle */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }
  
  .inner-circle-image {
    width: 24px; /* Adjust the size of the inner circle image as needed */
    height: 24px; /* Adjust the size of the inner circle image as needed */
    border-radius: 57%; /* Makes it a circle */
    position: absolute;
  }

  .premium-button
{
    
    border-radius: 10px;
    background-color: white;
    
}  