

.txt-body{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(175, 174, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px auto;
    transition: all 0.2s ease;
    background-color: rgba(244, 187, 146,0.0);
}


.txt-body.active{
    
    color: #fff;
    box-shadow: white;
    transform: scale(1.05);
}



.txt-body:hover{
    color: #fff;
}

